[submodule "HiggsAnalysis/HiggsTo2photons"]
	path = HiggsAnalysis/HiggsTo2photons
	url = git@github.com:h2gglobe/HiggsTo2photons
[submodule "EgammaAnalysis"]
	path = EgammaAnalysis
	url = git@github.com:h2gglobe/EgammaAnalysis.git
[submodule "EGamma"]
	path = EGamma
	url = git@github.com:h2gglobe/EGamma.git
[submodule "CMGTools"]
	path = CMGTools
	url = git@github.com:h2gglobe/CMGTools.git
[submodule "CMGTools/External"]
	path = CMGTools/External
	url = git@github.com:h2gglobe/External.git
[submodule "EGamma/EGammaAnalysisTools"]
	path = EGamma/EGammaAnalysisTools
	url = git@github.com:h2gglobe/ElectronTools.git
