[submodule "HiggsAnalysis/HiggsTo2photons"]
	path = HiggsAnalysis/HiggsTo2photons
	url = git@github.com:h2gglobe/HiggsTo2photons
[submodule "CMGTools/External"]
	path = CMGTools/External
	url = git@github.com:h2gglobe/External.git
